      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              {% for cat in categories %}
            <li class="nav-item">
              <a class="nav-link" href="{{cat.get_absolute_url}}">{{cat.category}}</a>
            </li>
              {% endfor %}
          </ul>
          <!-- Links -->

          <form class="form-inline" method="get" action="/">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" name="key" placeholder="Search by name/category" aria-label="Search">
                <button type="submit">Search</button>
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
