<!DOCTYPE html>
<html lang="en">

    {% extends 'base.html' %}
    
    <body>

        {% block content %}
        <main>
            <div class="container">
                <div class="table-responsive text-nowrap">
                    <h2>Order Summary</h2>

                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Item Title</th>
                          <th scope="col">Price</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Total Price</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for order_item in object.items.all %}
                        <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <td>{{order_item.item.item_name}}</td>
                          {% if order_item.item.discount_price %}
                          <td>
                            <a href="{% url 'core:remove_single_from_the_cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                            {{order_item.item.discount_price}}
                            <a href="{% url 'core:add_to_cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                          </td>
                          {% else %}
                          <td>
                              <a href="{% url 'core:remove_single_from_the_cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                            {{order_item.item.price}}
                            <a href="{% url 'core:add_to_cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                          </td>
                          {% endif %}
                          <td>{{order_item.quantity}}</td>
                          {% if order_item.item.discount_price %}
                          <td>
                            {{order_item.get_total_discount_price}}
                            <a style="color: red;" href="{% url 'core:remove_from_the_cart' order_item.item.slug %}"><i class="fas fa-trash float-right"></i></a>
                          </td>
                          {% else %}
                          <td>
                            {{order_item.get_total_price}}
                            <a style="color: red;" href="{% url 'core:remove_from_the_cart' order_item.item.slug %}"><i class="fas fa-trash float-right"></i></a>
                          </td>
                          {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="5">Your car is empty</td>
                        </tr>
                        {% endfor %}
                          {% if object.coupon %}
                          <tr>
                          <td colspan="4"><b>Coupon</b></td>
                          <td>{{object.coupon.amount}}</td>
                        </tr>
                          {% endif %}
                        <tr>
                          <td colspan="4"><b>Order Total</b></td>
                          <td>{{object.get_total}}</td>
                        </tr>
                        <tr>
                          <td colspan="5">
                            <a class="btn btn-warning float-right ml-2" href="/checkout/">Proceed to checkout</a>
                            <a class="btn btn-primary float-right" href="/">Continue shopping</a>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  
                  </div>
            </div>
        </main>

        {% endblock %}

<!--        {% include 'footer.html' %}-->

        {% include 'script.html' %}

    </body>
</html>