
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{object.item_image.url}}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="{{object.item_category.get_absolute_url}}">
                <span class="badge purple mr-1">{{object.item_category}}</span>
              </a>
<!--              <a href="">-->
<!--                <span class="badge red mr-1">{{object.get_labels_display}}</span>-->
<!--              </a>-->
              <span>
                {{object.item_name}}
              </span>
            </div>

            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                  <del>{{object.price}}</del>
                </span>
              <span>{{object.discount_price}}</span>
              {% else %}
              <span>{{object.price}}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{object.description}}</p>

           <!--
             <form class="d-flex justify-content-left">
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>
           --> <a href="{% url 'core:likes' slug=object.slug %}" class="btn btn-primary btn-md my-0 p">
                  <i class="fas fa-heart mr-1">  {{object.likes.count}}</i>
                </a>

           <a href="{{object.get_add_to_cart}}" class="btn btn-primary btn-md my-0 p">Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
           </a>

           <a href="{{object.remove_from_the_cart}}" class="btn btn-danger btn-md my-0 p">Remove from the cart
            <i class="fas fa-shopping-cart ml-1"></i>
         </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>
        <div class="container">
            {% if comments.count != 0 %}
            <div class="row">
                <p>Total Comments {{comments.count}}</p>
            </div>
            {% endif %}
            <div class="row">
                <ul class="list-unstyled">
                    {% if comments %}
                    {% for comment in comments %}
                    <hr>
                    <li class="media">
                        <div class="media-body">
                            <h6 class="lead card-text"> Posted by: {{comment.user.username}}</h6>
                            <p class="lead card-text">{{comment}}</p>
                            <p class="lead card-text">Posted on: <strong>{{comment.date}}</strong></p>

                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <h4 class="my-4">Leave a comment</h4>
      <form action="{% url 'core:comments' slug=object.slug %}" method="post">
           {% csrf_token %}
<!--            {{ form|crispy }}-->
          <div class="form-group">
              <textarea name="comment" cols="200" rows="3" class="form-control" placeholder="Write A Comment" required="" id="id_comment"></textarea>
          </div>
            <button type="submit" class="btn btn-primary">
              Post
          </button>
        </form>
        {% else %}
        <div class="row mt-1 mb-2">
            <a class="btn btn-danger text-black" type="button" href="/accounts/login/">Login to comment</a>
        </div>
        {% endif %}

      <!--Grid row-->
<!--      <div class="row d-flex justify-content-center wow fadeIn">-->

<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-md-6 text-center">-->

<!--          <h4 class="my-4 h4">Additional information</h4>-->

<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit-->
<!--            voluptates,-->
<!--            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>-->

<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->

<!--      </div>-->
      <!--Grid row-->

      <!--Grid row-->
<!--      <div class="row wow fadeIn">-->

<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-lg-4 col-md-12 mb-4">-->

<!--          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">-->

<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->

<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-lg-4 col-md-6 mb-4">-->

<!--          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">-->

<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->

<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-lg-4 col-md-6 mb-4">-->

<!--          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">-->

<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->

<!--      </div>-->
      <!--Grid row-->

    </div>
  </main>

{% endblock %}


