{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
              <form action="/request_refund/" method="post">
                   {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">
                      Submit
                  </button>
                </form>
          </div>
        </div>
      </section>
    </div>
 </main>

{% endblock %}